<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Moneyball</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
 
  <link rel="stylesheet" href="static/css/styleLP.css">
</head>

<body>
  {% include 'navbar.html' %}
  {% block main %}
  <div class="wrapper">
      <div class="hero text-center">
      <h1>Moneyball</h1>
      <p>Does Money Matter???</p>
    </div>
    <div class="container">
      
        <div class="col-md-10">
          <div id="inro" class="">
            <h2>Introduction</h2>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
              quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
              labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
              suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate 
              velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
        </div>
        <div class="4-col">  
            <h2>Cost vrs wins</h2>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
              quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
              labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
              suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate 
              velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
          </div>
          <div class="4-col">  
            <h2> Year: Wins Vs. Cost Per Win </h2>
            <p>The data set included with this exercise depicts relationships between wins and cost in the NBL by year. Additional 
              information can be obtained including: Championship status, Cost per win, Team salary, Ave player salary, and number
               of wins relative to a specific year.
            </p>
          </div>  
          <div class="4-col">  
            <h2> Team: Year vs Cost Per Win. </h2>
            <p>The data set included with this exercise depicts time vs cost/win in NBL bassed on a team of choice. Each datapoint 
              corresponds to the number of wins for a NBL team with additional information available. Data includes: Team name, 
              Championship status, Cost per win, Team salary, Ave player salary, and the year which the data was extracted. 
              Green indicates world champion.
            </p>
          </div>  



    {% endblock %} 
    </div>
    <footer class="footer">
      <span>Project Moneyball &copy; 2021</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
